<h1>About Me!</h1>
<ul>
  <li>I have many interests including playing games, coding, and creatively making things.</li>
  <li>I also love to collect things, such as stamps, coins, baseball cards, pokemon cards, and rocks.</li>
  <li>Finally I love reading, especially fantasy. I'm kind of a nerd about it.</li>
</ul>
