<h1>Contact</h1>

<div class="row">
  <div class="col-md-6">
<p>While there are many ways of contact in the big wide world, I make sure to provide the best ways of contact. Such as:</p>
<ul>
  <li>Telepathy</li>
  <li>Holograms displayed by R2 units</li>
  <li>Throwing a brick through the window with a message on it.</li>
</ul>
<p>I will make sure to respond as quickly as I can.</p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114118719.4172991!2d-146.4598702372802!3d29.20510847837276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ea20dc915746495%3A0xb450ddcb4a4239b7!2sPeter+Thorup+H%C3%B8eghip+Aqqutaa%2C+Nuuk+3905%2C+Greenland!5e0!3m2!1sen!2sus!4v1500993652595" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>