<div class="inner cover">
  <h1 class="cover-heading">Jolly good ol' day to you!</h1>
  <p class="lead">Welcome to the ever-changing, crazy, and senseless world of Ryan. It's pretty amazing.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
